[card_generator]
number_of_cards_to_generate=10000

[transaction_generator]
food_min_max=100,10000
bill_min_max=500,15000
grocery_min_max=50,20000
entertainment_min_max=400,5000
fuel_min_max=100,5000
travel_min_max=1000,50000
shopping_min_max=500,100000
limit_transaction_generation_speed=Y
time_delay_in_seconds=0.1
